<html>
    <head>
        <title>Angular 1.5.7 Upgrade Example</title>
        <script src="https://code.angularjs.org/1.5.7/angular.js"></script> 
        <script src="https://npmcdn.com/rxjs@5.0.0-beta.7/bundles/Rx.umd.js"></script>
        <script src="https://npmcdn.com/reflect-metadata@0.1.3"></script>
        <script src="https://npmcdn.com/zone.js@0.6.12"></script>
        <script src="https://npmcdn.com/@angular/core@2.0.0-rc.3/bundles/core.umd.js"></script>
        <script src="https://npmcdn.com/@angular/common@2.0.0-rc.3/bundles/common.umd.js"></script>
        <script src="https://npmcdn.com/@angular/compiler@2.0.0-rc.3/bundles/compiler.umd.js"></script>
        <script src="https://npmcdn.com/@angular/platform-browser@2.0.0-rc.3/bundles/platform-browser.umd.js"></script>
        <script src="https://npmcdn.com/@angular/platform-browser-dynamic@2.0.0-rc.3/bundles/platform-browser-dynamic.umd.js"></script>
        <script src="https://npmcdn.com/@angular/upgrade@2.0.0-rc.3/bundles/upgrade.umd.js"></script>
    </head>
    <body>
        <script type="text/ng-template" id="sequence.html">
           <div style="border: solid 1px black; background: yellow; float: left; margin: 5px;"
                ng-repeat="item in $ctrl.seq track by $index" 
                ng-style="{'width' : item*10, 'height' : item*10}"></div>
        </script>
        <sequence-app></sequence-app>
        <script>
            (function (app) {

                <!-- sequenceService.js -->

                function Service() {
                    this.x = 1;
                    this.xn = 1;
                }

                Service.prototype.next = function () {
                    var next = this.x; 
                    this.x = this.xn; 
                    this.xn = next + this.x; 
                    return next;
                };

                <!-- title.Component.js -->

                function TitleController() {
                    this.title = 'Angular 1.5.7 Upgraded to 2 Example';
                }

                app.component('appTitle', {
                    controller: TitleController,
                    template: '<h1>{{$ctrl.title}}</h1>'
                });

                <!-- square.Component.js -->

                function SquareComponent() {
                    this.size = 5;
                }

                SquareComponent.prototype.ngAfterViewInit = function () {
                    this.myDiv.nativeElement.style.width = 
                    this.myDiv.nativeElement.style.height = (this.size*10);
                }

                SquareComponent.annotations = [
                    new ng.core.Component({
                        selector: 'square',
                        inputs: ['size'],
                        queries: {
                            myDiv: new ng.core.ViewChild('myDiv')
                        },
                        template: '<div #myDiv style="border: solid 1px black; background: yellow; float: left; margin: 5px;">' +
                            '</div>'
                    })
                ];

                <!-- sequence.Component.js --> 

                var SequenceComponent = ng.core.Component({
                    selector: 'sequence', 
                    template: '<square *ngFor="let i of seq" [size]="i"></square>',
                    //viewProviders: [Service],
                    directives: [ng.common.NgFor, SquareComponent]
                }).Class({
                    constructor: [Service, function (service) {
                        this.seq = [];
                        var x = 0;
                        while (x < 8) {
                            this.seq.push(service.next());
                            x += 1;
                        }                        
                    }]
                });

                <!-- app.Component.js -->

                var ng2 = new ng.upgrade.UpgradeAdapter();

                ng2.addProvider(Service);

                var AppComponent = ng.core.Component({
                    selector: 'sequenceApp',
                    template: '<div><app-title></app-title><sequence></sequence></div>',
                    directives: [ng2.upgradeNg1Component('appTitle'), SequenceComponent]
                }).Class({
                    constructor: function () {}
                });

                app.directive('sequenceApp', ng2.downgradeNg2Component(AppComponent));

                ng2.bootstrap(document.body, ['onefiveseven-2']);

            })(angular.module('onefiveseven-2', []));
        </script>
    </body>
</html>